<<app-navbar></app-navbar>
<div class="about-section">
  <h1>About Us Page</h1>
  
  <p>We provide the quiz on latest computer fundamentals.</p>

<h4>The quiz provided by us not only checks accuracy but also checks the timing of solving a question. </h4>
<h3>So, the user should be quick as well as accurate.</h3>
<h6>By taking our quiz,the user will be preapred for copetition eaminations.</h6>


<h1 class="main">"WE AIM TO PROVIDE EXCELLENCE!"</h1>
<h5></h5>
<p></p>
</div>



  <app-footer></app-footer>>