<app-navbar></app-navbar>
<mat-card>
  <mat-card-header>
    <section>
      <div mat-card-avatar class="header-image"></div>
      <div class="mat-card-container">
        <mat-card-subtitle>
          <span class="subtitle1">Wanna test Your Knowledge?</span>
          <span class="subtitle2">Take the quiz and find out!!!</span>
        </mat-card-subtitle>
      </div>
    </section>
    <div mat-card-image class="quiz-topic-img">
    
    </div>
  </mat-card-header>

  <mat-card-content>
    <p>Take this awesome quiz that will help to improve your understanding. 
    Try to beat the
      clock!!! Are you Ready???</p>
  </mat-card-content>
  
  <mat-card-actions>
    <button mat-raised-button type="button" disableRipple="false" (click)="startQuiz()" class="btn  text-alert">LET'S BEGIN!!</button>
  </mat-card-actions>
</mat-card>

<app-footer></app-footer>